[2017-05-07 13:22] vibhavp opened #1 "Implementing Go-specific features"
Because wagon will be primarily designed for golang, it also needs to implement features that are native to Go: maps, interface/type assertion, and most importantly, goroutines. As wagon will primarily consume wasm code translated from Go, does it make sense to use intrinsic functions to implement them?
For instance, wagon would provide the function `__gocall` to call functions on a new goroutine:

[2017-05-10 11:48] vibhavp opened #2 "Golang imports in wasm"
Should wagon be able to import golang packages as modules too? A module name with the prefix `go/` can be imported by wagon, if the corresponding [plugin](https://golang.org/pkg/plugin/) is provided.

[2017-05-10 19:00] sbinet commented on #2
yes, it'd be great to be able to do that.
and requiring (as a first step) to access them via the `"plugin"` package is an effective solution -- although, probably not the final one, I'd say (for the moment, it's linux only.)
eventually, Go packages should be importable by first compiling them with `GOARCH=wasm(32|64)`.

[2017-06-20 09:28] SerkanSipahi opened #9 "What is this interpreter supposed to do?"
What is wagon supposed to do?

Short questions:
1.) wagon can produce go to wasm?
2.) wagon can consume wasm code?

[2017-06-20 09:33] sbinet commented on #9
1) is out of the scope of `wagon`.
2) definitely is the goal of this project.

here is the original GSoC proposal:
 - http://hepsoftwarefoundation.org/gsoc/proposal_GoInterpreterWagon.html

[2017-06-20 09:37] pwaller commented on #9
I agree with @SerkanSipahi - the way it's currently written in the readme allows for both interpretations. Might be worth trying to find alternative less ambiguous language: "Wagon enables Go to parse and execute WebAssembly by interpreting it".

[2017-06-20 09:39] sbinet opened #10 "doc: improve readme to clearly state wagon usecases"

[2017-06-20 09:41] sbinet commented on #9
will do. (I've created go-interpreter/wagon#10 for this.)

let's close this (and feel free to re-open if you disagree and/or use the go-interpreter mailing list for broader discussion: go-interpreter@googlegroups.com)

[2017-06-20 09:41] #9 closed

[2017-06-20 09:58] SerkanSipahi commented on #9
@sbinet

:(

[2017-06-20 10:17] sbinet commented on #9
Progress and plans for 1) are reported here: golang/go#18892

[2017-06-30 08:26] sbinet opened #12 "gc support in wasm/wagon"
just putting it out there:
 https://github.com/WebAssembly/gc/blob/master/proposals/gc/Overview.md
(the current proposal/WIP of a gc in wasm)

[2017-07-31 19:18] xyproto commented on #10
Yes, the description is a bit thin. After reading the README and project description I still have absolutely no clue what this can be used for. Is it for writing a webpage in Go that will then also use WebAssembly? It it for writing a faster and more encapsulated version of the Go playground? What is it for?

[2017-08-02 07:22] sbinet opened #14 "wasm: create benchmarks"
we should have benchmarks.

and we should have reference `wasm` module files.
we could use a subset (?) of the ones provided by [wabt](https://github.com/WebAssembly/wabt) and/or by [spec](https://github.com/WebAssembly/spec).

they both provide `.wast` files that we could check into our repo: we'd also need to check the corresponding `.wasm` files, created with `wabt`'s `wast2wasm` tool.

all of

[2017-08-02 14:49] sbinet commented on #10
@xyproto does go-interpreter/wagon#15 help?

[2017-08-02 14:50] sbinet commented on #10
there is also more text other there:
 http://hepsoftwarefoundation.org/gsoc/proposal_GoInterpreterWagon.html

(the initial proposal for the GSoC internship)

[2017-08-08 12:28] #10 closed

[2017-08-09 11:27] xyproto commented on #10
Yes, that's helpful. Thanks!

[2017-08-28 18:52] vibhavp opened #29 "Allow WebAssembly functions to refer and import Go data and functions"
Right now, a `wasm.Module` struct can only hold `Function`s that use WebAssembly bytecode. To allow interoperability between WASM and Go, it should be possible to use `call` and `call_indirect` with Go functions. Furthermore, more complex data structures like `struct`, `map`, `slice` and `chan` should be able to be passed as arguments, using an intermediate ABI around the module's linear memory.

[2017-08-28 18:58] vibhavp opened #30 "exec: Use function interface for implementing function calls"
As of now, the `function` interface in `exec/func.go` is unused. Once support for go functions has been added, the VM should use this type for calls to both WebAssembly and Go functions.

[2017-09-14 13:50] sbinet opened #34 "wat: lisp-y text format for wasm"
to ease with sharing the spec tests with [WebAssembly](https://github.com/WebAssembly/spec), we should be able to parse the `.wast` files.

There are already a few Go-based lisp-y parsers/lexers:

- https://github.com/glycerine/zygomys
- https://github.com/janne/go-lisp
- https://zhehaomao.com/project/2014/03/28/glisp.html, https://github.com/zhemao/glisp
- https://pkelchte.wordpress.com/2013/12/3

[2017-09-28 14:58] Spriithy commented on #29
Hello, I'm new to your project and Wasm (but neither to VMs or Go) is there any way I could help with this issue ? Thanks :D

[2017-09-28 17:53] vibhavp commented on #29
Thanks for helping out! As I understand, the starting point for this would be to figure out a way to represent all Go types in WebAssembly (which as a bytecode format only allows i32, i64, f32 and f64). An obvious way would be to use i64 to store the raw `unsafe.Pointer` values, and convert them accordingly while they're in transit from or to Go functions. Another issue would be to make sure that

[2017-11-01 17:37] Spriithy commented on #34
Hello there,

I was wondering if you would like some help for this particular issue ?
I don't have much experience for lisp-y languages but some with lexers / parsers.

I would be glad to contribute to this project in my free time.

[2017-11-01 17:40] sbinet commented on #34
hi @Spriithy

yes. definitely yes!

[2017-11-01 18:08] Spriithy commented on #34
Thanks @sbinet for your consideration,

After looking at the file format specification and based on the knowledge that `.wast` files are lisp syntax based, should we implement an in-house lexer/parser to generate some pre-defined IR ?

From the above references, I think [Schego](https://github.com/DangerOnTheRanger/schego) and [Zygomys](https://github.com/glycerine/zygomys/) looks quite robust.

A

[2017-11-02 14:46] sbinet commented on #34
I am not super familiar with the design space of lexers/parsers, so I can't answer your question about the generation of a pre-defined IR.

The first and immediate value for a `wat` (or `wast`) parser is to be able to reduce the scaffolding in the tests of the interpreter.

the official `wasm` tests contain `wast` files that describe the content of `wasm` modules.
these modules are then fed to the

[2017-11-02 15:35] Spriithy commented on #34
As stated in the [official documentation](http://webassembly.org/docs/text-format/), the `.wast` format is a superset of `.wat`.

Anyways, after comparing a handful of `wat` and `wast` files it seems, *to me*, that creating a `wasm` file from a `wast` one and then parsing the resulting file to create a `wasm.Module` is just **almost** (I cannot emphasize this word enough :smile:) doing the same wo

[2017-11-02 15:40] Spriithy commented on #34
Obviously, all the test suites from the official WebAssembly repositories are given as standalone `wast` files. I would like to add that, parsing and generating the code from such files and then executing it on-the-fly seems to be the right approach to me.

Nevertheless, it would be interesting to have some external feedback / suggestions.

[2017-11-02 15:55] Spriithy commented on #1
I think it is fair. However, I can't seem to have a good grasp at how it would work for channels.

How would you specify generic channel data sending / retrieving ?

[2017-11-28 15:24] sbinet opened #36 "validate: could not validate a simple program"
trying to validate a simple program:

[code]

compiled with `GOOS=js GOARCH=wasm` and the gc compiler from [neelance go-wasm-wip](https://github.com/golang/go/compare/master...neelance:wasm-wip), I get:

[code]

running `WebAssembly.validate` (from my chromium browser) did not raise anything.

@vibhavp any idea?

[2017-11-28 15:52] vibhavp commented on #36
Could you give me the `.wasm` file produced by the compiler?

[2017-11-28 16:38] sbinet commented on #36
it's there: https://cern.ch/binet/wasm/a.wasm

[2017-11-29 03:39] vibhavp commented on #36
From the wasm Go fork, I observed that node uses this file to define some runtime functions: https://github.com/neelance/go/blob/wasm-wip/misc/wasm/wasm_exec.js

With wagon, they aren't getting defined, which is what might be causing the issue. I'll take a look at this anyway.

[2017-12-05 16:03] sbinet opened #40 "wasm: implement imports"
`wasm.ReadModule` needs to be able to handle `imports`.

perhaps `wasm.ResolveFunc` should be an interface instead of a `type X func` to be able to import builtin functions (_e.g._ `print`)

[2017-12-05 16:03] sbinet commented on #40
@vibhavp do you want (and/or have the cycles) to have a stab at it?
(just asking to reduce the amount of duplicated work)

[2017-12-05 16:04] sbinet commented on #36
perhaps needs go-interpreter/wagon#40

[2017-12-07 03:26] vibhavp commented on #40
If you take a look at the `wasm` fork, it uses JavaScript to provide access to some runtime functions that cannot be implemented alone in WebAssembly. We could allow the table of a `wasm.Module` to be populated with Go functions. Similarly, `exec` would also need some modification so as to call Table elements with `reflect`.

Making `ResolveFunc`  an interface would only allow for a fixed number o

[2017-12-12 17:36] bkeroackdsc opened #42 "VM: allow access to linear memory"
Currently it looks like we can get public access to a `Module` linear memory: https://github.com/go-interpreter/wagon/blob/master/wasm/module.go#L50 which is a static view of the memory space after parsing and loading the module. However it doesn't appear that VM linear memory is copied back into the module after functions are executed.

It would be very useful to be able to access the memory of a

[2017-12-13 18:54] #42 closed

[2017-12-14 14:32] sbinet opened #47 "wasm: add test(s) for current Module importer"
adcf76ac180089d726deb24706c1ba6a2d3a3670 added support for importing modules.

we should add a few tests for that.

[2017-12-15 23:06] dignifiedquire opened #48 "How to allocate memory"
I am trying to implement a way of passing more complex data between wasm and go and was looking for something like `malloc` which emscripten provides to allocate a new memory block, where I can write data into from the outside, to make it available to the program. Eg

[code]

[2017-12-15 23:35] cznic commented on #48
Shameless plug: perhaps something like [this](https://github.com/cznic/memory) can be of some use?

[2017-12-16 11:54] sbinet commented on #48
I must admit this is an area I haven't yet dedicated too many cycles to.
Obviously, that's something we want to provide.

@cznic all your packages are on my radar :)

[2017-12-16 15:28] dignifiedquire commented on #48
Thanks, for now I realized the easiesz way is to provide these as runtime methods in my module as alloc and dealloc (using rust for the wasm code this is pretty straightforward) and the exposed vm.Memory() is enough to do what I need for now. I‘ll provide an example here once I have things working.

On 16. Dec 2017, 12:54 +0100, Sebastien Binet <notifications@github.com>, wrote:

[2017-12-16 21:14] dignifiedquire opened #49 "Stack Underflow on valid wasm file"
I have this minimal example, which runs fine if I execute it with `wasm-interp`, but throws a `ErrStackUnderflow` if I try and execute it with wagon

Source:
[code]

wasm-intrep output
[code]

Attached is the [token.wasm.zip](https://github.com/go-interpreter/wagon/files/1565101/token.wasm.zip)

[2017-12-17 21:48] sbinet commented on #49
tentatively assigning this to @vibhavp as he has the most experience with the part of the code dealing with this.

also: do you think there could be a way to have a simpler reproducer? there are a lot of functions in there...

[2017-12-18 14:18] dignifiedquire commented on #49
I got it a little smaller, but it seems this is coming from compiling some part of the rust std lib.

[code]

attached wasm and wast file

[Archive.zip](https://github.com/go-interpreter/wagon/files/1568194/Archive.zip)

[2017-12-18 14:59] Spriithy commented on #34
Hey there,

I allow myself to bump this issue to notify those interested that I am currently working on it.
I have decided to go for a in-house lexer/parser for the wast file format has very special specifications.

I plan to create a reviewable pull request that is not meant for immediate merge but rather see the advancement of the implementation and propose an early insight in my work.

[2017-12-18 15:13] sbinet commented on #34
great!

[2017-12-18 18:33] vibhavp commented on #49
I've pushed a fix to https://github.com/vibhavp/wagon/tree/fix-49, which should fix this. (although `wasm-run` cannot run specific functions, which will cause it to panic)

[2017-12-18 20:30] dignifiedquire commented on #49
@vibhavp getting panics both when using `vm.ExecCode` as well with `wasm-run` now

[code]

[2017-12-22 03:36] vibhavp commented on #49
The panic is probably a result of `wasm-run` not being able to push arguments when calling functions that have parameters.

[2017-12-22 08:32] sbinet commented on #49
Not sure about your assessment wrt wasm-run: it's supposed to discard (not
execute) exported functions that need input arguments.

I'll try to have a closer look before Saturday.

sent from my droid

On Dec 22, 2017 4:36 AM, "Vibhav Pant" <notifications@github.com> wrote:

[2018-04-03 13:16] sbinet commented on #36
ping @vibhavp ?

Robert's work (bringing `GOARCH=wasm` to the official gc toolchain) is starting to percolate.
it would be great to have this working for Go-1.11.x :)

[2018-04-03 13:17] sbinet commented on #40
ping @vibhavp ?

Robert's work (bringing `GOARCH=wasm` to the official gc toolchain) is starting to percolate.
it would be great to have this working for Go-1.11.x :)

[2018-04-03 20:10] vibhavp commented on #36
Sorry for forgetting about this. I took another stab at my PR today, and
was able to narrow it down to the value of `NewStack.StackTopDiff` somehow
changing while compiling Else blocks. I'll further investigate tomorrow,
and try coming up with a fix soon.

On Tue 3 Apr, 2018, 6:46 PM Sebastien Binet, <notifications@github.com>
wrote:

[2018-04-06 06:28] vibhavp commented on #49
@dignifiedquire I have updated my PR, could you test it again?

[2018-04-06 16:14] dignifiedquire commented on #49
@vibhavp looking good, now working as expected

[2018-04-09 14:56] #49 closed

[2018-04-18 06:08] gedw99 opened #56 "Mobiles and desktops"
This would be amazing on mobiles.

This would allow golang code to be compiled to WASM and then updated on all devices. Huge.

Has anyone tried this yet ?

[2018-04-18 10:55] sbinet commented on #56
Afaik, nobody tried that.
But it does indeed sound like an interesting use case.

[2018-05-08 06:16] gedw99 commented on #56
Rust is booming along with WASM.
Anyone done any benchmarks with gowagin to see the speed differences between golang and golang wasm running inside gowagon ?

[2018-06-04 15:03] gballet commented on #30
@vibhavp this has been fixed by #58

[2018-06-04 15:27] sbinet commented on #30
indeed.

[2018-06-04 15:27] #30 closed

[2018-06-07 04:48] andreimatei opened #60 "need usage examples"
Hi folks,

I've found this project while looking for a Go wasm interpreter that I can use as a library. It seems awesome, but I've got to say that I'm a bit at a loss about how I am supposed to use it. I've perused the tests in the repo some, but it wasn't enough for me. This is partially because I'm new to wasm too.
If it's not too much trouble, I would kindly ask for some guidance/example around

[2018-06-08 09:11] sbinet commented on #60
hi Andrei,

you're right, the amount of documentation (both low-level and high-level) is rather scarce.
For the high-level, I tend to redirect people to this blog post of mine:
- https://blog.gopheracademy.com/advent-2017/go-wasm/

and for the low-level, well, I sheepishly redirect them to webassembly.org :}

these files have been usually either copied from the official test suite of webassembly:

[2018-06-08 09:15] sbinet commented on #36
_ping_  @vibhavp ? :)

[2018-06-08 09:15] sbinet commented on #60
_wrt_ your 1.), fixing https://github.com/go-interpreter/wagon/issues/34 would go a long way towards easily compiling some `.wasm` files while waiting for a fix for https://github.com/go-interpreter/wagon/issues/36

[2018-06-08 15:16] andreimatei commented on #34
Just wondering, without knowing what I'm talking about: instead of building an assembler, have you considered at all using [wabt](https://github.com/WebAssembly/wabt) through CGo? If you want to keep wagon buildable through `go build`, I think `wabt`'s build system can't be used and instead one has to list all the .c files in CGo directives. It's ugly but probably doable - CockroachDB used to buil

[2018-06-08 15:17] andreimatei commented on #60
That would be awesome, thank you!

[2018-06-08 15:31] andreimatei commented on #60
For my immediate needs, this is what I'd love hand-holding for concretely:
- I want to be able to write a function in some reasonable language (C, js, Go, don't particularly care) that takes some args (say, the language equivalent of `int64`, `string`, `[]byte`). I want to compile to wasm (I guess manually for now).
- I want to load the resulting module and call it from Go code by passing the argu

[2018-06-08 17:53] andreimatei commented on #34
Btw, another option for using `wabt` as a dependency is to ask user of `wagon` to install and build `wabt` themselves and then `wagon` would link against it through a directive like
[code]

This directive could be put in a file gated behind a build flag, if the integration is designed in such a way that it is optional.

[2018-06-11 15:12] sbinet commented on #60
@andreimatei I guess I won't have any bonus point... but https://github.com/go-interpreter/wagon/pull/61 may help you somewhat?

[2018-06-11 15:54] sbinet commented on #34
well, the whole point of `wagon` is to be pure-Go.
I wouldn't be against having another `go-interpreter/repo` with either a `CGo` package that links against `wabt` or one that shells out to one of its commands.

but I'd like to keep `wagon` free of any cgo business :)

[2018-06-12 02:15] andreimatei commented on #60
Thank you, much appreciated! I'll give it a spin soon.
Are you also interested in a review on the PR?

On Mon, Jun 11, 2018 at 11:13 AM, Sebastien Binet <notifications@github.com>
wrote:

[2018-06-12 05:35] sbinet commented on #60
Of course!

[2018-06-15 16:21] andreimatei commented on #60
Hey Sebastien,

So I'm digging around and I've got two related questions, if you don't mind the bother.
Any C program compiled by `emscripten` that operates with pointers has an import like this:
[code]
What's the right thing to do (or even the wrong thing) for handling it? Should I make the `ResolveFunc` provide an "env" module that's empty other than one entry in its `Memory` section?

And 2nd,

[2018-06-15 19:30] andreimatei commented on #60
I was able to get a C program using strings and things like `strlen()` working by hacking how a module's `Memory` is initialized when importing an entry of type `ExternalMemory`. I've had to initialize `module.Memory.Entries` by hand, as otherwise `populateLinearMemory()` was a no-op (hitting this condition:
https://github.com/go-interpreter/wagon/blob/d4bc452fd57e99224c6db45f22b01518d3478b3f/wasm

[2018-06-18 11:53] sbinet commented on #60
I must admit I am starting to be a bit out of my confort zone :)

funnily enough, I stumbled upon this (on the `#webassembly` slack channel):

- https://christine.website/blog/land-1-syscalls-file-io-2018-06-18

[2018-06-22 00:45] Xe opened #62 "Context-awareness"
It would be interesting to provide [context](https://godoc.org/context)-awareness to the `exec.VM` type. This would check the context Done every so often during execution, and if it is done then a new "took too long" error would be returned to the callee. This would make it possible for users to submit arbitrary untrusted webassembly code for a backend server to run and return the results without

[2018-06-24 14:07] gedw99 commented on #62
Great idea ! Was wondering about how to solve that corner case too

On Fri, 22 Jun 2018, 02:45 Christine Dodrill, <notifications@github.com>
wrote:

[2018-06-27 09:14] sbinet commented on #62
apologies for the belated answer.

yes, having a `context` aware `exec.VM` type would definitely be interesting.

now, the also interesting thing would be to decide until what "depth" we want to weave it through:
- down to each VM operation? (_e.g._ `pushInt64`, `i32Load8s`, ...)
- only at `VM.ExecCode` ?
- somewhere in the middle?
- piggy back on what the Go runtime does for preemption ? (ie: onl

[2018-06-28 09:49] sbinet commented on #48
@dignifiedquire there's some work happening in the memory allocation/manipulation area: #59

do you have some input? (here or directly on the PR.)

[2018-06-28 23:09] Xe commented on #62
This would be beyond overkill and would be super performance impactful.

Probably check here too.

I was thinking every `n` operations or on function/loop/block barriers.

[2018-06-29 07:07] sbinet commented on #62
I agree, I was just being facetious :)

every `n` operation is probably simplest to explain and implement, while not being too intrusive.

[2018-07-04 11:11] earth2378 opened #64 "wasm-run: could not read module: open env.wasm: no such file or directory"
I built wasm file using Emscripten. After I got wasm file and run wagon, it shows that

`wasm-run: could not read module: open env.wasm: no such file or directory
`
How to fix it?

Thanks

[2018-07-04 13:12] sbinet opened #65 "exec: update example for new Process API"
[code]

[2018-07-04 13:24] sbinet opened #67 "add code coverage analysis"
we should add some support for code coverage analysis.

[2018-07-04 13:32] #67 closed

[2018-07-04 14:14] sbinet commented on #64
hi @earth2378,

thanks for the report.
could you please give a very simple reproducer? (_ie:_ minimal instructions so we can tackle this?)

thanks a lot.

[2018-07-04 16:48] andreimatei commented on #64
I'm not sure how this error was generated, but, for what it's worth, I've
found that all programs compiled by emscripten require various things to be
exported by the "environment". Emscripten generally produces both a wasm
module and a js loader file which provides those exports.
I've been able to hack wagon to provide things sufficient for simple
programs. I'd like to put together a PR for this w

[2018-07-04 17:19] sbinet commented on #64
@andreimatei  definitely an interest :)
(enjoy your holidays!)

[2018-07-05 17:40] Xe commented on #62
How about every 65536 instructions? That constant is already used as the size of a memory page and it's a very nice, even number.

[2018-07-05 18:29] sbinet commented on #62
SGTM

[2018-07-18 21:17] valvesss opened #69 "could not create VM: disasm: stack underflow"
Hello, I'm trying to compile and run a simple program from GO to WASM and execute the VM with wagon, but I'm stuck at stack underflow. Any idea?

Code (helloworld.go):

package main
func main(){
  ret := retorno()
  _ = ret
}
func retorno() int64 {
  var num int64 = 50
  return num
}

Compile (With golang beta, go1.11beta1):

GOARCH=wasm GOOS=js go1.11beta1 build -o test.wasm helloworld.go

Runnin

[2018-07-22 06:48] evandigby commented on #69
I still think it should handle the issue more gracefully, but this isn't working because it needs the "go" module loaded into the runtime (as represented by wasm_exec.js that comes with your Go installation).

If I stub out the go module it gets past this issue and executes the wasm module, meaning I can call "run" which is the entrypoint that Go exposes. The results are less than satisfying becau

[2018-07-22 14:35] sbinet commented on #69
Nice! That's something I wanted to tackle for (or be ready by) 1.11.
I'd be happy to merge this in, either as a separate package that exposes such a module, or a 'default' importer.

[2018-07-22 16:05] evandigby commented on #69
@sbinet will definitely be useful to have. There will definitely be places where we need to stub with “not available” type exceptions since (I hope) nobody will expect this to implement the full JavaScript environment.

Where possible I’ll try to make it return Go’s “js.Undefined” in “get” type calls or act like it would in a browser if a function/object wasn’t available on a “call” or “set”.

The

[2018-07-22 21:58] evandigby commented on #69
@sbinet Would something like the following be considered, or is there a specific reason we don't want to be able to point directly at the in process memory?

[code]

The reason I ask is implementing the Go module is requiring significant creating and copying of []byte buffers where it normally wouldn't be required if we can just slice the memory.

[2018-07-22 22:52] evandigby commented on #69
@sbinet Unfortunately even the most basic "Hello, World!" appears to require at least some emulation of the JS environment.

Will continue to work on it tonight. I should have something that's functional if not perfect in the next few days.

WIP branch: https://github.com/netvm/wagon/tree/go-runtime

[2018-07-23 14:53] vmesel commented on #69
@evandigby @sbinet I'm developing an importer to, and while I was compiling my WASM, i got into a trouble running it. It says the memory should be exported and the table to. I think my emcc command line must be wrong.

This is my C code that I want to export to WASM
[code]

Its WAT:
[code]

The EMCC command line:

[code]

[2018-07-24 14:51] sbinet commented on #69
@evandigby this looks good.

I do have some minor comments but this can be worked out during the PR:
- `BufferAt` could be implemented in terms of `io.WriterAt`/`io.ReaderAt` (`vm.Process` implements those)
- the `goExportIndexDebug` etc... could be just an array:

[code]

[2018-07-24 14:54] sbinet commented on #69
@vmesel I am afraid I myself have very limited knowledge about EMCC (perhaps you'd have better luck with their mailing list?)

that said...

which tool says that?

[2018-07-24 15:20] evandigby commented on #69
@sbinet thanks! We can definitely go into more detail in PR. I had all of these functions implemented using read and write at; however, what I saw was that the process implementations of reader and writer at are copying data with every call when the intent established in wasm_exec.js was to refer to the memory directly. I suspected this could become a performance issue if Go’s runtime is expecting

[2018-07-24 15:39] sbinet commented on #69
ok.

[2018-07-24 23:30] evandigby commented on #69
@sbinet https://github.com/go-interpreter/wagon/pull/70
Work in progress PR so we can start discussing there. Obviously not ready to merge.

[2018-08-20 05:14] duanbing opened #82 "[Question] How can I pass a string parameter to a Wasm function?"
I want to communicate with wasm function, like what I do in https://github.com/duanbing/wasm-test/blob/master/load.js,  sending or receiving a complex data structure between wasm VM and my go process.

[2018-08-20 13:31] duanbing commented on #82
Refer to https://github.com/go-interpreter/wagon/issues/48.

[2018-08-20 13:31] #82 closed

[2018-08-21 04:13] duanbing commented on #64
Any progress of this question?  I think we should provide a resolver when calling wasm.ReadModule. but when I want to interpret the file as below, I meet lots of panics, How should a implement a resolver for it?
[code]
@sbinet , thanks in advance!

[2018-08-21 13:34] SeavantUUz opened #83 "invalid number of arguments to function"
Hi, first thanks for your great work.

I met a strange behavior and got confuse whether it is a bug or excepted behavior.

The source is simple cpp codes as

[code]

then I got a .wasm file, I pasted the .wast content below:

[code]

Following your `vm_example_test.go`, I tried these ( only `Types`, `FunctionIndexSpace`, `Export` below)

[code]

Look good, right?

But in the runtime, compiler comp

[2018-08-22 03:49] duanbing commented on #83
`print` needs one parameter `v int32`, declared in vm_example_test.go

[2018-08-22 04:09] SeavantUUz commented on #83
@duanbing

So you means my `iadd` function doesn't return a `int32`?

May I not express clearly?

[code]

it works

[code]

it works as well.

but

[code]

it can't be executed.

Of course I know the `print` excepts a `int32` and I am sure the return type of `iadd` is `int32`. Just took a glance of my content. I have defined below:

[code]

the first Function is `print` and the next is `iadd`.

I

[2018-08-22 09:09] duanbing commented on #83
Take a look [here](https://github.com/duanbing/wasm-test/blob/master/go/main.go), hope it's helpful.

[2018-08-22 09:12] duanbing commented on #83
The `drop` operator can be used to explicitly pop a value from the stack.

[2018-08-22 09:25] SeavantUUz commented on #83
@duanbing

Exactly I know the behavior of drop. It popped the top of the stack, right. In the sample, it is the result of `iadd` function. But the `print` function:

[code]

should have not told me the error info : *invalid number of arguments to function*

got it please.

I did the mini wasm vm [here](https://gist.github.com/SeavantUUz/e4db693322d86235a45459fc5250e252). You can take a look *pleas

[2018-08-22 10:43] SeavantUUz commented on #83
After debugging, and read [this](https://github.com/ethereum/go-ethereum/pull/16957/files) I finally noticed where I did wrong.

In the [implement](https://gist.github.com/SeavantUUz/e4db693322d86235a45459fc5250e252#file-coswasm-go-L39)

I forced the entry pointe to function index 1. When only `iadd` or `print` is called, the entry actually is 1 but when compose both, the entry index changed.

So

[2018-08-22 10:43] #83 closed

[2018-08-25 14:12] losfair opened #85 "wasm: ExecInitExpr is done too early"
The execution of `case getGlobal` in `ExecInitExpr` depends on runtime imports to work correctly. We don't have that information before imports get resolved and therefore cannot execute init expressions ahead of time.

[2018-08-25 14:25] breml opened #86 "Question/Error when use wasm-run with wasm generated from Go 1.11"
Go 1.11 is released an provides native wasm support. So I tried the following:

Given the following Go program `main.go`

[code]

is compiled with Go 1.11 to wasm

[code]

and try to run it with `wasm-run test.wasm`

I get the following error:

[code]

So my question is, where do I get the file `go.wasm`? Would this be something like the `wasm_exec.js`, which is provided with Go 1.11?

[2018-08-26 04:30] bobomurod opened #87 "How to run?"
Hello, i need small instruction to run Wagon. Thank you!

[2018-09-27 03:54] SamuelMarks commented on #87
No idea. My attempt:
[code]

[2018-09-27 07:28] SamuelMarks commented on #87
Yeah, well I think the main thing that people want to see when they land on your page, is an interactive Go REPL.

If wagon isn't it, a link to one that is would be handy.

[2018-10-07 15:03] ShrewdSpirit opened #89 "Is wagon production ready?"
Hello. Is wagon fully compatible with all (currently implemented by the standard and browsers) webassembly features? I'm planning to use wagon for embedding webassembly in a production project and I should know which features of webassembly are not currently implemented (if any).
Thanks for your time

[2018-11-14 19:24] donpdonp commented on #64
same problem here, any sort of hello world that I might compile, ends up with wast/wasm that calls (import "env" ... )  or (import "stdlib" ...) and wasm-run dies with could not find stdlib.wasm, etc. I'm not sure how to provide these libraries to wasm-run.

[2018-12-12 16:29] sbinet opened #95 "wasm: rename instructions as per new naming conventions"
upstream changed a bunch of instructions names:
- https://github.com/WebAssembly/spec/commit/994591e51c9df9e7ef980b04d660709b79982f75

we should probably consider following them.

[2018-12-27 20:36] hajimehoshi commented on #29
Actually [life](https://github.com/perlin-network/life) (yet another Wasm interpreter in Go) has this feature: [`ImportResolver`](https://github.com/perlin-network/life#import-resolvers). I was also wondering if wagon could have a similar feature.

[2019-01-12 10:40] hunjixin commented on #36
I have the same problem.

[2019-01-14 06:38] hunjixin commented on #86
I have the same question.

[2019-01-20 16:00] mohanson opened #99 "What's the 'arity' in the control instruction means?[Not bug, but ask for your help]"
I try to understand your code, and when I was looking at the WebAssembly Core Specification, a problem plagued me for a long time:

Core Spec: [4.4.5.3. block [t?] instr∗ end](https://webassembly.github.io/spec/core/bikeshed/index.html#-hrefsyntax-instr-controlmathsfblockthrefsyntax-instrmathitinstrasthrefsyntax-instr-controlmathsfend①) Says:

`Let n be the arity ∣t∣ of the result type t`

What's

[2019-01-20 18:11] sbinet commented on #99
according to wikipedia, the ultimate source of truth in the known universe:
- https://en.wikipedia.org/wiki/Arity

_e.g._:
[code]

- `f1` has an arity of 1 (it takes 1 argument)
- `f2` has an arity of 2 (it takes 2 arguments)
- `f3` has an arity of 3
I guess one could extend this to the number of returned values too.

[2019-01-20 18:11] #99 closed

[2019-01-29 18:58] twitchyliquid64 opened #101 "Would you accept PRs to implement a JIT?"
Heya,

I would like to implement a JIT, starting with a subset of wasm instructions on amd64. Would you be open to accepting PRs?

To start with, the JIT would rewrite sequences of mathy instructions into a unit, which is referenced by PC. An unused opcode can be used to symbolize an execution of a jitted section.

For example:

[code]
Could be rewritten to:

[code]

`VM` would have a new `map` fi

[2019-01-30 09:01] sbinet commented on #101
sounds really interesting!
(JITing Go is something I've always wanted to investigate...)

[2019-01-30 16:32] twitchyliquid64 commented on #101
Calling into JITed code is actually really easy, you just map in an executable page(s) and jump to it:

[code]

If the runtime happens to do a GC run, it wont recognize the current PC and will try again later. The only thing we have to worry about is stack overrun. I've also confirmed that planned pre-emptive scheduling will do the same thing.

We are guaranteed to have 720 bytes spare as long as

[2019-01-30 17:57] donpdonp opened #102 "inital value of global not understood"
I'm using zig to build a .wasm. The wasm decodes to the following wast
(export "inbuf" (global $9))
(global $9  i32 (i32.const 1024))

which is what I expect so the wasm is good (decoded with the WAVM project). using wagon in my own project can read the global variable "inbuf" but the initial value is 4 bytes that I do not understand.

 wasm.go:154: module.Export global "inbuf" #3
 wasm.go:159: mo

[2019-01-31 17:43] donpdonp commented on #102
found the docs for globals in a wasm.

https://github.com/sunfishcode/wasm-reference-manual/blob/master/WebAssembly.md#primitive-encoding-types

(a type-indicator byte followed by a signed LEB128 value)

[2019-01-31 17:43] #102 closed

[2019-02-20 13:51] cdetrio commented on #36
I don't see any Else blocks in the `a.wasm` file linked above, but if it is an issue around Else blocks then it might be related to https://github.com/go-interpreter/wagon/pull/104.

[2019-03-08 12:45] laizy commented on #29
@hajimehoshi , wagon also has this, see : https://github.com/go-interpreter/wagon/blob/f9c03729b90b8cd361fa6dd688af67843e97ffed/exec/call_test.go

[2019-03-08 18:04] twitchyliquid64 commented on #101
Pinging this thread. I'm seeking explicit approval @sbinet to implement this, and confirmation that PRs will be reviewed & eventually merged.

My plan is roughly this:

1. 1st PR - Resize `wagon/wasm/operators.Op` & `vm.funcTable` table to 512, use an unassigned opcode to symbolize execution of a JIT section (See [here](https://github.com/WebAssembly/design/issues/1141) for discussion about reserv

[2019-03-09 18:04] sbinet commented on #101
as I said earlier, JITing is definitely something I am interested in.
please proceed :)

[2019-03-12 04:19] twitchyliquid64 commented on #89
It implements web assembly 1.0 (Draft). To my knowledge no proposals have been implemented.

[2019-03-12 04:36] twitchyliquid64 opened #108 "Idea:, VMs choose a spec level for run"
Problem statement: I want to use WebAssembly compliant with specification X.Y.

Suggestion:

1. Store spec version the operator was introduced in the `operators.Op` structure, add to existing new*Op() functions
2. When disassembly happens, opcodes present before the spec version cause an error.
3. Change the `ReadModule` or `DecodeModule` function to take a new argument representing the spec versi

[2019-03-13 22:26] ShrewdSpirit commented on #89
@twitchyliquid64 I've been using wagon for a while now and haven't hit any limitations yet. Although it has a few validation issues that I'm not sure if they're wagon related or compiler generated related.

[2019-03-14 15:29] twitchyliquid64 commented on #86
What happens if you rename `test.wasm` to `go.wasm` and run it with `wasm-run go.wasm` ?

In any case, the current implementation of the Go compiler produces wasm that expects to be run in a browser - I would expect some error unless you mock in the equivalent APIs as what the browser provides to webassembly code (in the form of function tables).

[2019-03-22 10:16] hunjixin opened #110 "how can i set a struct as ExternalGlobal like global in js"
how can i set a struct as ExternalGlobal like global in js

[2019-03-23 17:36] twitchyliquid64 commented on #110
I'm not sure I understand the question. If you mean how can you call into Go code from a wasm module, please have a look at `TestHostCall` in `exec/call_test.go` - this describes how you can add in a native function to a `wasm.Module` so you can call it from wasm code.

Basically, you manipulate the fields of `wasm.Module` to add in whatever functions or tables you like.

[2019-03-23 18:19] twitchyliquid64 commented on #85
In the docs it says:

[code]

The current implementation appears to work for globals that are defined before the global referencing it is defined (index-wise) - does that not suit?

I guess we could re-order module initialization or do two passes to resolve this if necessary.

[2019-03-23 18:19] twitchyliquid64 commented on #101
Closing as this is in progress.

[2019-03-23 18:19] #101 closed

[2019-03-24 08:30] hunjixin commented on #110
yes，function is ok，and simple variable is alson work，but i want to access a more global complex struct variable for other module

[2019-03-25 03:23] hunjixin commented on #110
@twitchyliquid64 .
i write code by rust and then converto to wasm.
I want to set a global object in wagon , and access it in rust. how to write the code

[2019-03-25 03:26] hunjixin commented on #64
@donpdonp  and did you get a solution?

[2019-03-25 17:56] twitchyliquid64 commented on #110
I think you can only pass 64bit arguments between function invocations. Anything else will need to be passed as a pointer/index and then use linear memory / tables.

For instance, you could write your rust code to save an object in linear memory 0x0000 - 0x2000, then use `vm.Memory()` to read that section of memory.

[2019-03-27 17:15] twitchyliquid64 opened #116 "Support WASI execution"
Saw this on HN: https://hacks.mozilla.org/2019/03/standardizing-wasi-a-webassembly-system-interface/

We should consider implementing a package that exposes the WASI API.

[2019-03-28 10:03] sbinet commented on #116
yep, definitely.

[2019-03-28 10:55] sbinet commented on #116
something to look at, too:
- https://github.com/golang/go/issues/31105

[2019-04-03 15:41] twitchyliquid64 commented on #116
I'm thinking of doing the following:

 - Making a new subpackage: `github.com/go-interpreter/wagon/wasi`
 - This package exposes a `wasi.MakeHostEnvironment`
 - You pass `host.WASIResolver` as the `wasm.ResolveFunc` in a call to `wasm.ReadModule`, which will load the specified module + resolve the WASI imports for you.

Thoughts?

[2019-04-03 15:43] twitchyliquid64 commented on #116
[This](https://github.com/CraneStation/wasmtime/blob/master/docs/WASI-api.md) is also a relevant doc, which enumerates the API surface we need to provide to support WASI.

[2019-04-03 16:01] sbinet commented on #116
SGTM.

[2019-04-07 22:46] twitchyliquid64 opened #121 "Support 'bail-out' from native code to signal debug/error-states/branches."
Just thinking aloud here, would appreciate any thoughts/feedback.

It would be good for native code to be able to return early to signal different states back to the interpreter.

 - Debug: Stack/local handling code can do bounds checks and return a value if bounds are every violated. We dont expect this to happen for verified modules, but it would be good to have this as a build flag like we have

[2019-04-25 08:26] #121 closed

[2019-06-07 19:40] twitchyliquid64 opened #130 "Analyze spectre implications"
No work has been done to determine if the interpreter/bytecode-dispatch loop is vulnerable to spectre, nor are we confident that mitigations applied for memory load in the native compiler are fully effective.

We should sit down and work out for sure if there is any more work to do here.

My gut feeling is that the dispatch loop has sufficiently high overhead that mis-speculating through incorrect

[2019-06-30 06:55] agnivade opened #134 "invalid pseudo-version: does not match version control timestamp while trying to build wagon"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13beta1
</pre>

### What did you do?
[code]

Only when I replace golang-asm with master or that commit hash, it works

[code]

Looking into the commits of [golang-asm](https://github.com/twitchyliquid64/golang-asm/commits/master), the commit hash looks fine but the timestamp is at 27th Jan, whereas the go.mod of wagon expec

[2019-07-03 07:45] sbinet commented on #134
(apologies for the belated answer...)

that would probably something for @twitchyliquid64 to comment on.

[2019-07-03 15:50] twitchyliquid64 commented on #134
This should be fixed by #135

I think go 1.13 starts verifying the date string? Not sure what caused it to be wrong though ...

[2019-07-03 16:27] agnivade commented on #134
Thanks. Yes 1.13 verifies the date string.

You should put a "Fixes #134" on that PR.

[2019-07-03 16:58] #134 closed

[2019-07-15 09:27] carltraveler opened #139 "sames very simple register alloction in JIT"
is that because of the stack operation mostly converted to memory operation, and few register used?

[2019-07-19 06:24] yyh1102 opened #140 "How to solve `disasm: stack underflow` when call `exec.NewVM(module)`"
i try to exec the [wast](https://gist.github.com/yyh1102/2c76b4f3d19475059c635e1f3e9de776) file and get `disasm: stack underflow`.

After i open `debugMode` and add extra logger print, and find out the error occurs in `ops.End or ops.Else` case:

![image](https://user-images.githubusercontent.com/10328169/61515819-15127d80-aa36-11e9-9b3e-e22a9e7afbeb.png)

curDepth is `-1`. prevDepth is `2`.  elem

[2019-07-22 14:11] yyh1102 commented on #140
Opened an [issue](https://github.com/AssemblyScript/assemblyscript/issues/723#issue-470964915) in assemblyscript and seems like this is the unexpected result of wagon.

[2019-07-23 07:26] #140 closed

[2019-07-29 09:12] laizy opened #143 "type validation of polymorphic opcode is not consistent with the wasm specification"
file  test.wast:
[code]
convert  to wasm format with wat2wasm (disable check):
[code]
use wasm-validate:
[code]
use `VerifyModule` in wagon it passed.

[2019-07-29 09:16] laizy commented on #143
the wasm spec has a sound and complete algorithm defined in  https://webassembly.github.io/spec/core/appendix/algorithm.html

[2019-07-29 16:30] sbinet commented on #140
apologies for the belated answer (holidays).
@vibhavp would be the one with the most expertise on this.

(feel free to reopen if that's still an issue for you)

[2019-07-30 03:09] laizy opened #144 "function DecodeModule implementation is not consistent with the wasm specification"
from the [WebAssembly Specifications](https://webassembly.github.io/spec/core/binary/modules.html#binary-importsec)

the current implementation use a [for loop](https://github.com/go-interpreter/wagon/blob/master/wasm/module.go#L120) to decode the section data. so the prescribed order is not checked.

A similar processing logic as a reference is at https://github.com/CraneStation/cranelift/blob/ma

[2019-07-30 03:26] laizy opened #145 "names used in wasm import/export/module etc need to be valid utf-8 string"
from the [WebAssembly Specifications](https://webassembly.github.io/spec/core/bikeshed/index.html#names%E2%91%A0):

the golang string is just raw bytes wrapper, so need add utf-8 encoding check at https://github.com/go-interpreter/wagon/blob/master/wasm/read.go#L32

[2019-07-30 06:49] laizy opened #147 "Denial of Service via Arbitrary Allocation"
There are many places containing codes pattern: read length then allocate array or map, like:
[code]
So the attacker can construct a invalid wasm file, set the `count` to 2^32-1, causing the Wagon interpreter to allocate more memory than is available and irrecoverably crash the entire process.
We may need to change it to something like:
[code]

[2019-07-30 07:45] sbinet commented on #147
good point.

perhaps a helper function like this?

[code]

[2019-07-30 08:32] laizy commented on #147
Since the `Reader` is a stream, so theoretically it could be very large, until we read it, if encountering eof be we read out `count` values, then we can say it is invalid. Although adding a max size limit works, but it is cumbersome, since different use cases may have different value, it will end up with a lot of limit parameters the user need to fill in (like max function count, max string size

[2019-07-30 10:12] twitchyliquid64 commented on #139
The JIT does not implement any register allocation, and my experiment (in one of the branches on my fork) did not show any performance improvement from implementing it.

I think any improved performance is totally masked by the lack of support for branching in the JIT - it always falls back to interpreting for branching and control flow management.

[2019-08-01 09:28] #144 closed

[2019-08-01 12:21] #147 closed

[2019-08-05 10:17] #145 closed

[2019-08-14 06:57] carltraveler opened #157 "end/else will discard the elements to restore stack height. however spec only define br relate opcode do that operaton"
like bolow code:
`(module
  (type (;0;) (func (result i32)))
  (func (;0;) (type 0) (result i32)
    (local i32 i32)
	block
		i32.const 1
		if
			i32.const 10
			i32.const 2
			i32.const 2
			i32.const 0
			br_if 1
		end
	end
	i32.const 9
   )
  (export "loop" (func 0)))
`
the 'end' opcode can restore height. this is not coherence with spec.
and this code can not pass by wasm-validate. however can

[2019-08-14 06:59] carltraveler commented on #157
same issue with else opcode. I think if end or else code need discard element. will cause panic.

[2019-08-15 05:47] carltraveler commented on #143
I think this is ok with wasm spec.  https://webassembly.github.io/spec/core/valid/instructions.html#polymorphism

. Consequently,
unreachable  i32.add

is valid by assuming type []→[i32 i32]
for the unreachable

instruction. In contrast,
unreachable  (i64.const 0)  i32.add

is invalid, because there is no possible type to pick for the unreachable
instruction that would make the sequence well-typed

[2019-08-30 18:09] twitchyliquid64 commented on #143
This seems to be caused by most types checks looking like this:

[code]

Instead of disabling stack/type checking if the current frame is polymorphic, we should invent a new type, the `Unknown` type, and push that to the stack. Then, any type check with the unknown type should succeed.

Likewise disabling the stack underflow check looks bad.

[2019-08-30 19:47] twitchyliquid64 commented on #143
Okay, investigating this more, we have to assume unknown contents of the stack at the return from the stack polymorphic instructions, hence we need to disable the stack underflow check. However, we should not disable the type checking - if there is a value on the stack, then we should validate it.

[2019-09-03 12:07] #143 closed

[2019-09-10 22:37] twitchyliquid64 commented on #157
I was under the impression that blocks must finish with the same stack height as their parent to be valid (after accounting for any return type), is this correct?

If so, it should be sufficient to improve wagon's validation to detect this?

Can you test is #161 addresses this bug?

[2019-09-10 22:40] twitchyliquid64 commented on #89
@ShrewdSpirit I've recently overhauled the validation module to use the algorithm recommended by the spec. Can you check if #161 addresses the validation issues youve encountered?

[2019-09-13 15:40] sampaioletti opened #165 "Test Suite Failing on Go1.12.7 windows/amd64"
The current Master is failing on Windows (but wasm-run builds/runs fine). it completes in my WSL (go version go1.12.7 linux/amd64)

Haven't had a chance to look into it, looks like it is related to the AOT code

[code]

[2019-09-13 15:42] twitchyliquid64 commented on #165
Can you run the exec/internal/compile tests with '--parallel 1' and post the output?

[2019-09-13 16:21] sampaioletti commented on #165
Sorry should have done some more debugging for you before posting.

exec/internal/compile passes without modification.

The error occurs in the test exec/exec_test.go TestSpec

it produces the errors when running two tests. see blacklist
[code]
I'll try and look into it some more in a few...

[2019-09-13 16:24] sampaioletti commented on #165
and this is the console output for just one of those files

[code]

[2019-09-13 16:26] twitchyliquid64 commented on #165
`Exception 0xc0000094` is a divide by zero exception. Not sure why its not a problem on Linux (does linux handle these differently?)

My guess is we need to generate code to test the divisor for equality with zero, and bail if its the case.

[2019-09-13 16:38] sampaioletti commented on #165
I'm not sure, I'll dig around some more...if I turn off AOT for the test it works fine...so its something in the generated assembly...not my forte but I will try and at least narrow it down for you

[2019-09-13 16:39] twitchyliquid64 commented on #165
Yeah I think thats it ... looks like Go generates a zero check for division by zero: https://github.com/golang/go/blob/98aa97806b94495847f7f7151d4453f5830f0d38/src/cmd/compile/internal/gc/ssa.go#L3620

We should too. I'll implement.

[2019-09-13 16:40] sampaioletti commented on #165
ok awesome..let me know when you have it ready and I can test it if you don't have access to a windows machine

[2019-09-13 17:03] twitchyliquid64 commented on #165
Can you try out https://github.com/go-interpreter/wagon/pull/167 ?

[2019-09-13 17:07] #165 closed

[2019-09-13 17:12] sampaioletti commented on #165
Yes that fixed the original issue! now i'm having the following

[code]
I'm running short of time at the moment so I cant dig into it, I will look into it when I get back and see what the cause is and file a separate issue accordingly, or add to this if its related.

[2019-09-13 19:28] sampaioletti commented on #165
Appears to just be an ordering issue with how the exports are written in the wasm

![image](https://user-images.githubusercontent.com/8808567/64889283-3b196000-d62a-11e9-97a1-951967e66536.png)

[2019-09-13 19:36] twitchyliquid64 opened #168 "Release wagon v0.6.0 plz"
Heya,

Can you tag a new release (I'm thinking `v0.6.0`), or give me perms and I can? The validation module has had substantial revision and it would be good to get that out there under a new version.

[2019-09-16 08:55] sbinet commented on #168
LGTM (you are now granted admin powers. use them well :P)

[2019-09-16 08:55] #168 closed

[2019-09-16 17:20] twitchyliquid64 commented on #157
161 is merged, so can you retest with the latest (v0.6.0) ?

[2019-09-20 17:47] sampaioletti opened #170 "Import Table"
Related to work for #163

In a pretty standard (from what i can tell) wasm generated with emscripten it has the following imports
[code]
and has no memory/table statement for the root module

This results in

- The Root Module is decoded correctly
- The Root Module has no Memory Sections or Table Sections

the LinearMemory space gets instantiated automatically
https://github.com/go-interpreter/wag

[2019-10-12 05:28] carltraveler opened #173 "new validation refer to spec have multi bugs"
[testwasmdata_l.tar.gz](https://github.com/go-interpreter/wagon/files/3720246/testwasmdata_l.tar.gz)

use main.go in file. and test0.wat should not passed validation

[2019-10-12 05:28] carltraveler commented on #173
other three file(bin.wasm, boa.wasm, jsvm.wasm) should be passed

[2019-10-12 21:04] twitchyliquid64 commented on #173
Are these tests from the official test suite or specification? If so, can you link them?

[2019-10-14 02:42] carltraveler commented on #173
no, but these file can pass  wasm-validate which is the tool from [wabt](https://github.com/WebAssembly/wabt) . and test0.wat contruct by myself

[2019-10-14 02:45] carltraveler commented on #173
if the if inst have no else branch. then can not have result.  because validation can not assert the conditon at static check stage

[2019-10-15 23:13] twitchyliquid64 commented on #173
Do you have a copy of the wast for those three files? I can't work with them or test in their compiled format.

I've improved validation around the ELSE block in #174, particularly:

 - Validating that IF blocks can only return a value if they have an ELSE block
 - Adding tests for this case and any other invariants I can think of for the if and else blocks.

wdyt?

[2019-10-15 23:22] twitchyliquid64 commented on #170
Hmmm, enscripten as in JS for the browser yeah?

Does the browser setup some memory and a table for us by default? That might be the cause.

[2019-10-17 01:32] #173 closed

[2019-10-17 01:33] twitchyliquid64 commented on #157
Closing as I think this is addressed in v0.6.0, and the issue with else/if on refs/master/head.

[2019-10-17 01:33] #157 closed

[2019-10-26 08:25] anhcao142 opened #175 "Read leb128 fail when trying to read 64 bit of small number"
[code]

[2019-10-28 21:58] twitchyliquid64 commented on #175
@sbinet are you familiar with the leb128 encoding?

[2019-10-29 02:36] laizy commented on #175
@anhcao142 where is the `ReadUint64` defined? there are `ReadVarint64` and `ReadVarUint32` in package `leb128` , and they are works.

[2019-10-29 03:21] anhcao142 commented on #175
Sorry, my bad, I actually mean `ReadVarUint32` and let me check again

[2019-10-29 03:42] anhcao142 commented on #175
It's actually a mistake from my side, I'm sorry for troubling you. But before closing, can I ask why you don't have `ReadVarUint64` method?

[2019-10-29 03:56] laizy commented on #175
@anhcao142 ,maybe it is not used currently? but `readVarUint(r io.Reader, n uint)` is a  general-purpose function for read `uintN`(like uint7, uint16), so you can define `ReadVarUint64` as :
[code]

[2019-10-29 13:34] #175 closed

[2019-11-07 09:30] phantomBattle opened #177 "想要终止程序执行，只需要吧vm的abort设置为true就可以了么？"

[2019-11-07 09:34] phantomBattle commented on #177
When is the value of "abort" true?

[2019-11-20 05:55] twitchyliquid64 commented on #177
`abort` is true when `vm.Close()` or `vm.Terminate()` has been called.

[2019-12-17 09:03] icexin opened #179 "Build failed on 32b"
Output of `go env`:
[code]
Steps to reproduce:

[code]

[2019-12-18 10:01] sbinet commented on #179
thanks for the issue.
it's actually a more general 32b/64b build problem.

I've created #180 to fix the build issue (but some tests do fail.)

[2019-12-19 10:16] #179 closed

[2020-01-10 09:59] guo-li-hua commented on #64
Can anyone provide an ongoing solution?

[2020-01-10 15:33] hunjixin commented on #64
@guo-li-hua some simply code can work while specify high level opt flag while generate,but if you use something like memory op etc,still error.
i recommans to use rust ，very  compatible for wasm running

[2020-01-13 06:04] guo-li-hua commented on #86
Anyone solve this?

[2020-01-13 18:04] cdcarter opened #181 "Per-VM Host Resources?"
Is there any way to attach additional resources to the VM or Process structs so that Host functions can deal with per-VM resources? Imagine a set of host functions that deal with "STDOUT" - I might want a different "stdout" buffer for each VM. But host functions don't seem to have access to anything other than the VM linear memory. Any suggestions?

[2020-01-14 06:37] cdcarter commented on #181
Hey, encapsulation :)

[2020-01-14 06:37] #181 closed

[2020-01-15 06:07] zhangzhiqiangcs opened #183 "Can I get a unexported function's name in wasm module?"
Like this, I can get a exported function's name for a Module named mod
``` mod.Export.Names ```
I wonder if I can get a unexported function's name ? Thanks for any suggestions.

[2020-01-26 12:21] puuuuh commented on #183
Non-imported functions have no name

[2020-01-26 15:07] zhangzhiqiangcs commented on #183
ok, Thank you!

[2020-02-06 08:32] ktye opened #185 "wasm-run: execute expressions from argv"
Currently wasm-run executes every exported function.
I modified it to execute expressions given as command line arguments in post fix order. e.g.:
`wasm-run file.wasm 1 2 neg 3 add` (where neg takes one and add takes 2 arguments).

[code]
Maybe you find it useful.
(i use it in my wasm compiler for a custom language: https://github.com/ktye/i/tree/master/_/w)

[2020-02-26 16:19] hajimehoshi opened #188 "io.ReadFull should be used at ReadByte"
https://github.com/go-interpreter/wagon/blob/v0.6.0/wasm/read.go#L45

In theory, `Read` might return 0 bytes without errors. `io.ReadFull` should be used to ensure that 1 byte is read.

[2020-02-26 20:08] #188 closed

[2020-02-27 16:50] hajimehoshi opened #190 "wasm: functions in FunctionIndexSpace include wrong contents"
1. Build a hello-world wasm:

[code]

[code]

2. Run the below code:

[code]

It looks like the function's index and its instructions don't match. Some of the first functions should be imported functions, but include instructions for other functions. I think the function bodies are shifted.

[2020-02-27 17:17] hajimehoshi commented on #190
https://github.com/go-interpreter/wagon/blob/cbbdf0893ce4f79668a13c0879a7f143bdd0f472/wasm/index.go#L76-L80

The names are shifted with `numImports`, which is correct, while Sig and Body are not shifted.

[2020-03-05 15:27] sbinet opened #192 "meta: new maintainer/champion for wagon"
hi there,

lately I've found my involvement in `wagon` to dwindle.
partly because my main interest in `wasm+wagon` was to be able to build an interpreter for Go, in Go, and that there are now at least 2 Go interpreters (`gomacro` and `yaegi`) that fit the bill for me.
partly because I just don't find time to allocate for all the WebAssembly-related activity.

so... this is a meta-issue to look for

[2020-04-14 03:31] zhangzhiqiangcs commented on #190
Hello, I read in detail, found that the problem comes with numImports, when you don't provide a imported module but the wasm file need it, the numImports is not equal to len(FunctionIndexSpace).
https://github.com/go-interpreter/wagon/blob/dc6758ca7262efb2ef987e32e09f648300b4d007/wasm/index.go#L84-L85
So I had a pr #193
I am not sure if we can do it in this way.
Thanks.

[2020-04-14 03:42] #183 closed

[2020-04-24 11:51] sbinet commented on #192
ping?